# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Dependencies
node_modules/
vendor/

# Build
*.zip
build/

# Test
tests/coverage/
.phpunit.result.cache
.phpunit.cache/

# Composer
composer.lock
