<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
    bootstrap="tests/bootstrap/bootstrap.php"
    colors="true"
    verbose="true"
    failOnRisky="true"
    failOnWarning="true"
	beStrictAboutOutputDuringTests="true"
	convertDeprecationsToExceptions="true"
>
    <php>
        <ini name="date.timezone" value="UTC"/>
        <ini name="error_reporting" value="-1"/>
    </php>

    <testsuites>
        <testsuite name="Unit">
            <directory>tests/unit</directory>
        </testsuite>
    </testsuites>

	<coverage processUncoveredFiles="false">
        <include>
			<directory suffix=".php">admin</directory>
            <directory suffix=".php">includes</directory>
			<directory suffix=".php">templates</directory>
			<file>nicepay-payment-gateway.php</file>
        </include>
        <exclude>
            <directory>vendor</directory>
            <directory>tests</directory>
        </exclude>
    </coverage>
</phpunit>
